{% extends 'base.html' %}

{% block menu %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'index_view' %}">Home</a>
</li>
{%endblock%}

{% block container %}
<div class="head">
    <h3>Add new task</h1>
</div>
<div class="body">
    <form action="/task/new_task/" method="POST">
        {% csrf_token %}
        <label for="task">Введите задачу</label>
        <input class="task" type="text" name="task" id="task"> 
        <br>
        <label for="description"> Введите описание </label>
        <textarea class="desc" name="description" id="description" cols="30" rows="10" placeholder="Описание"></textarea>
        <br>
        <label for="status"> Укажите статус</label>
        <select class="stats" name="status" id="status">
            {% for choice in choices %}
            <option value="{{choice.0}}">{{choice.1}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="date">Введите дату выполнения</label>
        <input class="date" type="date" name="date" id="date" required>
        <br>
        <input type="submit">
    </form>
</div>
{% endblock%}